.message_box{:id => "message_box_#{message.id}"}
  .container-fluid
    .row-fluid
      .span1
        = image_tag message.user.avatar.url(:small)
      .span10
        %br #{link_to message.user.name, message.user}
        = message.created_at.strftime("%H:%M - %d.%m.%Y") + ' ' + t(:says).mb_chars.downcase + ':'
        %br  #{ message.body}.
      -if message.user == current_user
        .span1#iconic
          %i{:class => 'icon-trash cursor', :onclick => "delete_message(\"#message_box_#{message.id}\", #{message.id})"}