= form_for [@user, @social_link], :html => {:class => 'form-horizontal'} do |f|
  %fieldset
    %legend
      =t(:add_link)
    .control-group
      = f.label :description, t(:description), :class => 'control-label'
      .controls
        = f.text_field :description, :placeholder => t(:example) + ': ' + t(:blog)
    .control-group
      = f.label :url, t(:url), :class => 'control-label'
      .controls
        = f.url_field :url, :required => 'true', :placeholder => t(:example) + ': ' + 'http://myblog.blogspot.com',
          :class => 'input-xxlarge'
        - if @social_link.errors.messages[:url].count > 0
          %ul
            - @social_link.errors.messages[:url].each do |errmsg|
              %li
                = errmsg
    .control-group
      .controls
        = f.submit t(:submit_add), :class => 'btn'