- if @user.role == 'contractor'
	- i = 0
	- providers_list.each do |provider|
		-i += 1
		= form_for [@user, get_link_by_provider(@user.social_links, provider)],
				:url => "/users/#{@user.id}/social_links",
				:html => {:method => 'post', :id => 'social_link_form_' + i.to_s} do |f|
			%fieldset
				= f.hidden_field :id
				= f.hidden_field :provider, :value => provider
				.input-prepend
					%span.add-on
						%img{:src => get_provider_link(provider) + '/favicon.ico', :class => 'favicon'}
					%span.add-on
						= f.label :url, :class => 'control-label' do
							#{get_provider_link(provider)}/
				= f.text_field :url
				= f.submit t(:submit_save), :class => 'btn'
