.row-fluid{:id => "social_link_#{social_link.id}"}
  .span4
    %img{:src => get_provider(social_link.url) + '/favicon.ico', :class => 'favicon'}
    = link_to social_link.url do
      = social_link.description
  .span6
    = social_link.url
  .span2
    -#= link_to [social_link.user, social_link], :method => :delete do
      %i{:class => 'icon-trash'}
    -#=form_for [social_link.user, social_link], :method => :delete do |f|
      %a{:href => '##', :title => t(:delete)}
        %i{:class => 'icon-trash', :onclick => 'submit()'}
    %i{:class => 'icon-trash cursor', :onclick => "delete_social_link(\"#social_link_#{social_link.id}\", #{social_link.id})"}