.container
  %h2.span10.offset3 Sign up to Kogdata
  .container-fluid
    .row-fluid
      .span3.offset3
        //= render "devise/shared/links"
        %a.btn.social-btn.btn-inverse{:href => "/users/auth/vkontakte"} Log in with vkontakte
        %a.btn.social-btn.btn-info{:href => "/users/auth/twitter"} Log in with Twitter
        %a.btn.social-btn.btn-primary{:href => "/users/auth/facebok"} Log in with Twitter
      .span3
        = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
          = devise_error_messages!
          .control-group
            = f.email_field :email, :autofocus => true, :class => "input-xlarge", :placeholder => "Email"
          .control-group
            = f.password_field :password, :class => "input-xlarge",  :placeholder => "Password"
          .control-group
            = f.submit "Sign up", :class => "btn btn-danger"

