.container#forms.reg-container
	%h2.reg-title #{t(:sign_up_to)} Kogdata
	.role-group{'data-toggle' =>"buttons-radio"}
		%button.btn.active#options.client-option{:type=>"radio", :name=>"options"}
			= t(:i_am_client)
		%button.btn#options.contractor-option{:type=>"radio", :name=>"options"}
			=t(:i_am_contractor)
	.container-fluid
		.row-fluid
			//= render "devise/shared/links"
			%br
			= form_for(resource, :as => resource_name, :url => '/users', :method => 'put') do |f|
				= devise_error_messages!
				.control-wrapper
					.control-group
						= f.text_field :name, :class => 'large', :autofocus => true,  :placeholder => t(:name)
					.control-group
						= f.select :role, options_for_select([[t(:client), :client], [t(:contractor), :contractor]])
					.control-group#price-div
						= f.text_field :price, :id => "price-field",:class => 'large', :placeholder => t(:price)
					.control-group
						%label
							= t(:email)
						= f.email_field :email, :class => 'large'
					.control-group
						%label
							= t(:password)
						= f.password_field :password, :class => 'large'
					.control-group
						%label
							= t(:confirm_password)
						= f.password_field :password, :class => 'large'
					.control-group#submit
						%input{:type => "checkbox", :id => "check_agree"}
						%label
							= t(:i_agree)
						%br
						= f.submit t(:do_sign_up), :class => "btn btn-danger btn-large", :id => "reg-submit"
	.left-column
		.soc-links-container
			%a.social-btn{:href => "/users/auth/vkontakte"}
				%i.icon-k-vkontakte
			%a.social-btn#twit-btn{:href => "/users/auth/twitter"}
				%i.icon-k-facebook
			%a.social-btn#face-btn{:href => "/users/auth/facebook"}
				%i.icon-k-twitter
