#external-events.well.sidebar-nav
  #events-label-container
    %h4
      = t :new_event
    %h6
      = t :event_title
  %input{:class=> 'span2', :id=> 'EventTitle', :type=>'text', :placeholder=> t :title,:value=>'11'}
  #events-label-container
    %h6
      = t :event_description
  %textarea{:class=> 'input-medium', :id=> 'EventDescription', :type=>'text', :placeholder=> t :description}
  %br
  #events-label-container
    %p4
      = t :drag_to_calendar_to_new_event
  #external-event-template{:class=> 'external-event ui-draggable'}
    = t :new_event
