.back_white_box
	- if @user.id == current_user.id
		.to_right
			= link_to '/users/edit', :title => t(:edit_profile), :id =>'user_edit_button' do
				%i.icon-cog
	.row-fluid
		.user_avatar
			.avatar
				= image_tag @user.avatar.url(:small)

			- if @user.role == 'contractor'
				= ratings_for @user, :static, :dimension => :quality

		.right_user_panel
			%h1.info_user_name
				= @user.name

			%h3.info_user_city
				Город из таблицы
				-#= @user.town

			- if @user.role == 'contractor' # Show info by photographs
				.info-block
					- @user.social_links.each do |link|
						= link_to get_provider_link(link.provider) + '/' + link.url,
							:title => link.provider, :class => 'social_link' do
							%i{:class => 'icon-k-' + link.provider}
		.right_user_panel
			- if @user.id == current_user.id # If photograph watch own page
				- if @user.role == 'contractor' # Show info by photographs
					.info-block
						%button.btn.btn-link-red#message_button
							%i.icon-k-message
							= t(:my_messages)
					.info-block
						%button.btn.btn-link-red#calendar_button
							%i.icon-k-calendar
							= t(:show_calendar)
					.info-block
						%button.btn.btn-link-red#portfolio_button{:user_id => @user.id}
							%i.icon-k-portfolio
							= t(:show_portfolio)
					.info-block
						%button.btn.btn-link-red#my_orders_button{:user_id => @user.id}
							%i.icon-k-camera
							= t(:my_orders)

				- if @user.role == 'client' # Show info by client
					.info-block
						%button.btn.btn-link-red#message_button
							%i.icon-k-message
							= t(:my_messages)
					.info-block
						%button.btn.btn-link-red#my_events_button{:user_id => @user.id}
							%i.icon-k-event
								= '005'
							= t(:my_events)

			- if @user.id != current_user.id
				.info-block
					%button.btn.btn-link-red{'data-target' => '#messageModal', 'data-toggle' => 'modal'}
						%i.icon-k-message
						= t(:write_message)

				- if @user.role == 'contractor'
					.info-block
						%button.btn.btn-link-red#calendar_button
							%i.icon-k-calendar
							= t(:show_calendar)
					.info-block
						%button.btn.btn-link-red#portfolio_button{:user_id => @user.id}
							%i.icon-k-portfolio
							= t(:show_portfolio)
				- if @user.role == 'client'
					= javascript_include_tag 'users/client'
					.info-block
						%button.btn.btn-link-red#my_events_button{:user_id => @user.id}
							%i.icon-k-camera
							= t(:users_orders)
