= form_for @user, :html => { :method => :put, :multipath => true } do |f|
	%fieldset
		%legend
			=t :edit_page
		= f.hidden_field :password, :value => @user.password
		= f.hidden_field :avatar_url, :value => @user.avatar_url
		.control-group
			= f.label :name, t(:name), :class => 'control-label'
			.controls
				= f.text_field :name, :autocomplete => "on"
		.control-group
			= f.label :email, t(:email), :class => 'control-label'
			.controls
				= f.email_field :email, :autocomplete => "on"
		.control-group
			= f.label :role, t(:role), :class => 'control-label'
			.controls
				= f.select :role, [ [t(:user), :client], [t(:contractor), :contractor] ]
		.control-group#price-div
			= f.label :role, t(:price), :class => 'control-label'
			.controls
				= f.text_field :price, :id => 'price-field', :placeholder => t(:price)
		.control-group
			.controls
				= f.submit t(:submit_edit), :class => 'btn'
