= form_for @user, :html => { :method => :put, :multipath => true, :id => 'user_update' } do |f|
	%div
		= f.label :name
		= f.text_field :name, :autocomplete => "on"
	%div
		= f.label :email
		= f.email_field :email, :autocomplete => "on"
	%div
		= f.label :avatar
		%span
			%img{:src => @user.avatar.url(:thumb)}
		= f.file_field :avatar, :accept => 'image/*'
	%div
		= f.label :role
		= f.select :role, :options => [ :client, :contractor ]
	%div
		= f.label :old_password
		= f.password_field :old_password
	%div
		= f.label :password
		= f.password_field :password
	= f.submit
