%h2.event_title
	= t(:the_event)
	= ' #' + @event.id.to_s
%table.table.table-condensed.vertical-header
	%tbody
		%tr
			%th
				= t(:date_text)
			%td
				= @event.start.strftime("%d.%m.%Y")
		%tr
			%th
				= t(:town)
			%td
				О.город
		%tr
			%th
				= t(:type_of_event)
			%td
				= @event.type
		%tr
			%th
				= t(:start_time)
			%td
				= @event.start.strftime("%H.%M")
		%tr
			%th
				= t(:budget)
			%td
				= @event.price
%p
	= @event.description