.back_white_box
	%h2.event_title
		= t(:events)
	%table.table.event_table.table-hover
		%thead
			%tr
				%th
					= t(:customer)
				%th
					= t(:type_of_event)
				%th
					= t(:date_text)
				%th
					= t(:status)
				%th
					&nbsp;
		%tbody
			- @respones.each do |response|
				%td
					.avatar
						= image_tag response.event.user.avatar.url(:thumb)
					= link_to response.event.user.name, response.event.user
				%td
					= response.event.type
				%td
					= response.event.start.strftime('%d.%m.%Y')
				%td
					%div{:class => 'response_' + response.status}
						= response.status
				%td
					%button.btn.btn-link{:type => 'button', 'data-target' => '#messageModal',
						'data-toggle' => 'modal', 'user_id' => response.event.user.id.to_s}
						%i.icon-k-small-message
					%button.btn.btn-link
						%i.icon-k-info

	#messageModal.modal.hide.fade
		= render :partial => "messages/new_message", :locals => {:contact_id => current_user.id}