.container#forms
  %h2.span8.offset3 Sign in to Kogdata
  .container-fluid
    .row-fluid
      .span3.offset3
        //= render "devise/shared/links"
        %a.btn.social-btn.btn-inverse{:href => "/users/auth/vkontakte"} Sign in with vkontakte
        %a.btn.social-btn.btn-info{:href => "/users/auth/twitter"} Sign in with twitter
        %a.btn.social-btn.btn-primary{:href => "/users/auth/facebook"} Sign in with facebook
      .span6
        %br
        = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
          = devise_error_messages!
          .control-group
            = f.email_field :email, :class => 'large', :autofocus => true,  :placeholder => "Email"
          .control-group
            = f.password_field :password, :class => 'large', :placeholder => "Password"
          .control-group
            .controls
              %label.checkbox
                = f.check_box :remember_me
                Remember Me
          .control-group
            = f.submit "Sign in", :class => "btn btn-danger"

