%html
	%head
		= javascript_include_tag "application"
		= javascript_include_tag "image_uploader"
		= stylesheet_link_tag "application"
		%title Kogdata
	%body
		%p.notice
			= notice
		%p.alert
			= alert
		= render 'application/header'
		= yield
