%html
	%head
		= stylesheet_link_tag 'home'
		= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?
		= javascript_include_tag "common"
		= javascript_include_tag "application"
		= javascript_include_tag "image_uploader"
		= stylesheet_link_tag "application"
		%title Kogdata
	%body
		= render 'application/header'
		%p.notice
			= notice
		%p.alert
			= alert
		= yield
