%html
<<<<<<< HEAD
	%head
		= stylesheet_link_tag 'home'
		= javascript_include_tag "application"
		= javascript_include_tag "image_uploader"
		= stylesheet_link_tag "application"
		%title Kogdata
	%body
		= render 'application/header'
		%p.notice
			= notice
		%p.alert
			= alert
		= yield
=======
  %head
    = stylesheet_link_tag 'home'
    = javascript_include_tag "application"
    = stylesheet_link_tag 'application'
    %title Kogdata
%body
  = render 'application/header'
  %p.notice
    = notice
  %p.alert
    = alert
  = yield
>>>>>>> 9af7e512a769aa0a971a6daba330d3db9353765d
