!!!
-# --- "!!!" THIS IS DOCTYPE, DON'T REMOVE !!!!!!!!!!!!!!!!!!!!! ----------
%html
  %head
    = stylesheet_link_tag 'home'
    = stylesheet_link_tag 'rating'
    = ajaxful_rating_style
    = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?
    = javascript_include_tag "application"
    = javascript_include_tag 'common'
    - if defined?(@action)
      - if @action == 'show-current'
        = javascript_include_tag 'Calendar/home'
      - if @action == 'show-bookings'
        = javascript_include_tag 'Calendar/show-bookings'
    = stylesheet_link_tag 'application'
    %title Kogdata
%body
  = render 'application/header'
  = yield
  = render 'application/footer'