%html
  %head
    = stylesheet_link_tag 'home'
    = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?
    = javascript_include_tag "application"
    = javascript_include_tag 'common'
    = javascript_include_tag "calendar"
    = stylesheet_link_tag 'application'
    %title Kogdata
%body
  = render 'application/header'
  %p.notice
    = notice
  %p.alert
    = alert
  .container-fluid
    .row-fluid
      .span3#container
        #external-events
          %h4 New event
          %h6 Event title
          %input{:class=> 'span2', :id=> 'EventTitle', :type=>'text', :placeholder=> 'Title',:value=>'11'}
          %h6 Event description
          %textarea{:class=> 'input-medium', :id=> 'EventDescription', :type=>'text', :placeholder=> 'Description'}
          %br
          #events-label-container
            %p4 Drag the event to the calendar to create new event
          #external-event-template{:class=> 'external-event ui-draggable'} New Event
      .span9
        = yield
