!!!
-# --- "!!!" THIS IS DOCTYPE, DON'T REMOVE !!!!!!!!!!!!!!!!!!!!! ----------
%html
  %head
    = stylesheet_link_tag 'profile'
    = stylesheet_link_tag 'home'
    = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?
    = javascript_include_tag "application"
    = javascript_include_tag "common"
    = javascript_include_tag "image_uploader"
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "registration"
    = javascript_include_tag 'modernizr.custom.17475'
    = javascript_include_tag 'conversations'
    = ajaxful_rating_style
    = stylesheet_link_tag 'rating'

    %title Kogdata
  %body
    = render 'application/header'
    = yield
    = render 'application/footer'