%html
  %head
    = stylesheet_link_tag 'office'
    = javascript_include_tag "application"
  //= javascript_include_tag "calendar"
  %title Kogdata
%body
  = render 'application/header'
  %p.notice
    = notice
  %p.alert
    = alert
  .container-fluid
    .row-fluid
      .span3#container
        .well.sidebar-nav
          %ul{:class=>'nav nav-list'}
            %li{:class => 'nav-header'}Office
            %li
              =link_to 'home' ,root_url,:remote => false, :method => 'GET'
            %li
              =link_to 'messages', :controller => 'messages', :action => 'show_all'
        = yield