%html
  %head
    = stylesheet_link_tag 'office'
    = stylesheet_link_tag 'home'
    = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?
    = javascript_include_tag "application"
    = javascript_include_tag "common"
    = javascript_include_tag "office"
    = javascript_include_tag "calendar"
    = javascript_include_tag "image_uploader"
  %title Kogdata
%body
  = render 'application/header'
  %p.notice
    = notice
  %p.alert
    = alert
  .container-fluid
    .row-fluid
      .sidebar#container
        =render 'office/sidebar_box'
        - if can? :create, @event
          =render 'office/event_box'
      .span9
        = yield
