%html
  %head
    = stylesheet_link_tag 'office'
    = stylesheet_link_tag 'home'
    = javascript_include_tag "application"
    = javascript_include_tag "office"
    = javascript_include_tag "calendar"
    = javascript_include_tag "image_uploader"
  %title Kogdata
%body
  = render 'application/header'
  %p.notice
    = notice
  %p.alert
    = alert
  .container-fluid
    .row-fluid
      .span3#container
        .well.sidebar-nav
          %ul{:class=>'nav nav-list'}
            %li{:class => 'nav-header'}Office
            %li
              =link_to 'home' ,root_url,:remote => false, :method => 'GET'
            - if can? :read, @event
              %li
                =link_to 'show-bookings','', :id => 'show-bookings'
            - if can? :upload, :photo
              %li
                =link_to 'portfolio', '/office/portfolio', :id => 'portfolio'
        - if can? :create, @event
          #external-events.well.sidebar-nav
            #events-label-container
              %h4 New event
              %h6 Event title
            %input{:class=> 'span2', :id=> 'EventTitle', :type=>'text', :placeholder=> 'Title',:value=>'11'}
            #events-label-container
              %h6 Event description
            %textarea{:class=> 'input-medium', :id=> 'EventDescription', :type=>'text', :placeholder=> 'Description'}
            %br
            #events-label-container
              %p4 Drag the event to the calendar to create new event
            #external-event-template{:class=> 'external-event ui-draggable'} New Event
      .span9
        = yield
