!!!
-# --- "!!!" THIS IS DOCTYPE, DON'T REMOVE !!!!!!!!!!!!!!!!!!!!! ----------
%html
	%head
		= stylesheet_link_tag 'profile'
		= stylesheet_link_tag 'home'
		= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?
		= javascript_include_tag 'application'
		= javascript_include_tag 'common'
		= javascript_include_tag 'image_uploader'
		= stylesheet_link_tag 'application'
		= stylesheet_link_tag 'registration'
		= javascript_include_tag 'registration'
		= javascript_include_tag 'social_link'
		= javascript_include_tag 'validation'
		= javascript_include_tag 'partial'
		= javascript_include_tag 'modernizr.custom.17475'
		= javascript_include_tag 'user'
		= stylesheet_link_tag 'user'
		= stylesheet_link_tag 'rating'

		%title Kogdata
	%body
		= render 'application/header'
		.container
			.row-fluid
				.span6
					= render 'users/user_info'
					#left_block
					=# render :partial => 'events/list', :locals => {events: @user.event}
				.span6
					#right_block
						= yield

			#bottom_block
		= render 'application/footer'