!!!
-# --- "!!!" THIS IS DOCTYPE, DON'T REMOVE !!!!!!!!!!!!!!!!!!!!! ----------
%html
	%head
		%meta{:charset => 'utf-8'}
		= stylesheet_link_tag 'bootstrap'
		= stylesheet_link_tag 'bootstrap-responsive'
		= stylesheet_link_tag 'welcome'

		%title Kogdata
	%body
		= render 'application/header'
		.container
			= yield
		= render 'application/footer'
